<mat-toolbar>
    <span>JV</span>
    <span class="spacer"></span>
    <a mat-button href="assets/files/CV.pdf" target="_blank">Curriculum</a>

    <a mat-icon-button href="mailto:jorgevillagrafredes@gmail.com">
        <i class="material-icons">email</i>
    </a>
    
    <a mat-icon-button href="https://www.linkedin.com/in/jorge-villagra-49ba4329b/" target="_blank">
        <img src="assets/img/icons/linkedin.png" alt="linkedin">
    </a>

    <a mat-icon-button href="https://github.com/playmakerowo" target="_blank">
        <img src="assets/img/icons/github.png" alt="github">
    </a>
</mat-toolbar>