<main class="main">
    <div class="content">
        <div class="tittle">
            <h1 class="tittle-text">Desarrollador FrontEnd</h1>
            <img src="../assets/img/pfp.png" alt="profile picture" class="pfp">
        </div>
    </div>
    <h2>Habilidades/experiencia</h2>
    <div class="skills">
        <div class="skill">
            <img src="../assets/img/skills/html.png" alt="HTML">
        </div>
        <div class="skill">
            <img src="../assets/img/skills/js.png" alt="JavaScript">
        </div>
        <div class="skill">
            <img src="../assets/img/skills/css.png" alt="CSS">
        </div>
        <div class="skill">
            <img src="../assets/img/skills/scss.png" alt="SCSS">
        </div>
        <div class="skill">
            <img src="../assets/img/skills/docker.png" alt="Docker">
        </div>
        <div class="skill">
            <img src="../assets/img/skills/angular.png" alt="Angular">
        </div>
        <div class="skill">
            <img src="../assets/img/skills/mysql.png" alt="Angular">
        </div>
        <div class="skill">
            <img src="../assets/img/skills/SQLServer.png" alt="Angular">
        </div>
        <div class="skill">
            <img src="../assets/img/skills/oracle.png" alt="oracle">
        </div>
        <div class="skill">
            <img src="../assets/img/skills/python.png" alt="python">
        </div>
        <div class="skill">
            <img src="../assets/img/skills/java.png" alt="java">
        </div>
        <div class="skill">
            <img src="../assets/img/skills/typescript.png" alt="typescript">
        </div>
        <div class="skill">
            <img src="../assets/img/skills/react-native.png" alt="react-native">
        </div>
        <div class="skill">
            <img src="../assets/img/skills/EFCore.png" alt="EFCore">
        </div>
        <div class="skill">
            <img src="../assets/img/skills/csharp.png" alt="csharp">
        </div>
        <div class="skill">
            <img src="../assets/img/skills/dotnet.png" alt="dotnet">
        </div>
        <div class="skill">
            <img src="../assets/img/skills/bitbucket.png" alt="bitbucket">
        </div>
        <div class="skill">
            <img src="../assets/img/skills/git.png" alt="git">
        </div>
    </div>
</main>