<div class="sub-tittle" data-aos="fade-up" data-aos-duration="900">
    <h2 class="sub-tittle-text">Experiencia</h2>
</div>
<div class="skills-container">
    <div class="skills">
        <div class="skill" data-aos="fade-up" data-aos-duration="900">
            <img src="/assets/img/experiencia/experiencia.png" alt="experiencia">
        </div>
        <div class="skill" data-aos="fade-up" data-aos-duration="900">
            <img src="/assets/img/experiencia/titulo.png" alt="titulo">
        </div>
        <div class="skill" data-aos="fade-up" data-aos-duration="900">
            <img src="/assets/img/experiencia/web_design.png" alt="web_design">
        </div>
    </div>
</div>