<div class="sub-tittle" data-aos="fade-up" data-aos-duration="900">
    <h2 class="sub-title-text">Proyectos</h2>
</div>
<div class="Proyectos">
    <div class="Proyecto" id="gameq" data-aos="fade-up" data-aos-duration="1000">
        <div class="Proyecto-img">
            <img src="assets/img/projects/gameQuestions.png" alt="Game Questions">
        </div>
        <div class="Proyecto-text-content">
            <div class="Proyecto-text">
                <h3>Game Questions</h3>
                <p>Minijuego de preguntas Verdadero o Falso:</p>
                <ul>
                    <li>Uso de API de Open Trivia DB</li>
                    <li>Angular 17</li>
                    <li>SCSS</li>
                </ul>
                <div class="buttons">
                    <a mat-flat-button color="primary" href="https://playmakerowo.github.io/Games-Questions/" target="_blank">Jugar</a>
                    <a mat-flat-button color="primary" href="https://github.com/playmakerowo/Games-Questions" target="_blank">Ver código</a>
                </div>
            </div>
        </div>
    </div>
    <div class="Proyecto" id="qrapp" data-aos="fade-up" data-aos-duration="1000">
        <div class="Proyecto-img">
            <img src="assets/img/projects/qrapp.png" alt="qrapp">
        </div>
        <div class="Proyecto-text-content">
            <div class="Proyecto-text">
                <h3>QrApp</h3>
                <p>App móvil de lectura de QR que cuenta con:</p>
                <ul>
                    <li>Función de lectura de códigos desde la galería</li>
                    <li>Función de lectura de códigos desde la cámara</li>
                    <li>Generación de códigos propios</li>
                    <li>Historial de escaneos</li>
                    <li>Lectura de QR y códigos de barra</li>
                </ul>
                <div class="buttons">
                    <a mat-flat-button color="primary" href="https://github.com/playmakerowo/APP-QR" target="_blank">Ver código</a>
                </div>
            </div>
        </div>
    </div>
    <div class="Proyecto" id="socialDuoc" data-aos="fade-up" data-aos-duration="1000">
        <div class="Proyecto-img">
            <img src="assets/img/projects/socialDuoc.png" alt="socialDuoc">
        </div>
        <div class="Proyecto-text-content">
            <div class="Proyecto-text">
                <h3>Social Duoc</h3>
                <p>Una plataforma web que busca fomentar la comunicación entre integrantes de una institución mediante:</p>
                <ul>
                    <li>Uso de Django, jQuery, DataTable, Ajax, entre otros</li>
                    <li>Notificaciones usando Firebase</li>
                    <li>Chat (privado y grupal) en tiempo real</li>
                    <li>Administración de chat grupal</li>
                    <li>Administración con gestor de contenido</li>
                    <li>Personalización de perfil</li>
                </ul>
                <div class="buttons">
                    <a mat-flat-button color="primary" href="https://github.com/playmakerowo/tesis_red_social" target="_blank">Ver código</a>
                </div>
            </div>
        </div>
    </div>
    <div class="Proyecto" id="registroApp" data-aos="fade-up" data-aos-duration="1000">
        <div class="Proyecto-img">
            <img src="assets/img/projects/registroApp.png" alt="registroApp">
        </div>
        <div class="Proyecto-text-content">
            <div class="Proyecto-text">
                <h3>RegistroApp</h3>
                <p>App móvil que registra asistencia de participantes a eventos mediante la generación y lectura de QR, cuenta con:</p>
                <ul>
                    <li>Perfil de Creador de eventos (docente) y participantes (alumnos)</li>
                    <li>Notificaciones usando Firebase</li>
                    <li>Lectura y generación de QR</li>
                    <li>Historial de asistencias</li>
                    <li>Personalización de perfil</li>
                </ul>
                <div class="buttons">
                    <a mat-flat-button color="primary" href="https://github.com/playmakerowo/RegistroApp" target="_blank">Ver código</a>
                </div>
            </div>
        </div>
    </div>
</div>