main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 3rem;
}

.pfp {
    max-width: 25vw;
}

.tittle {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 50%;
    
}

.tittle-text {
    display: block;
    font-weight: bold;
    font-size: 8vw;
    line-height: 1.2; 
}

