/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #1c1c1c;
    color: white;
}

.tittle {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 50%;

    .tittle-text {
        background-image: url(assets/img/tittle.gif);
        background-size: 100% 100%; //para que el el texo use toda la imagen
        color: transparent;
        -moz-background-clip: text; //recortar el texto para que se vea el fondo Mozilla Firefox 
        -webkit-background-clip: text; //recortar el texto para que se vea el fondo Otros
        font-size: 120px;
        margin: 10px 0;
        display: block;
        font-weight: bold;
        font-size: 12vw;
        line-height: 1.2;
    }
}

.sub-tittle {
    justify-content: center; 
    text-align: center; 
    display: flex;
    margin-top: 60px;

    .sub-tittle-text {
        display: block;
        font-size: 3rem;
        line-height: 1.2;
    }
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}